:root {
  --darker: #21252b;
  --dark: #282c34;
  --accent: #3e5b93;
  --accent-rgba-t: rgba(62, 91, 147, 0.8);
  --light: #e2c08d;
  --lighter: #d4d6dd;
  --shadow: black;
}

* {
  margin: 0;
}

header {
  padding: 10px 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--darker);
  box-shadow: 2px 2px 10px var(--shadow);
  align-items: center;
}

header a {
  text-decoration: none;
  color: var(--lighter);
}

header a:hover {
  color: var(--light);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
}

/* Styling when hovering over item in navigation menu */
header nav ul li a:hover {
  background: var(--accent);
  color: var(--lighter);
  border-radius: 5px;
  box-shadow: 1px 2px 3px var(--shadow);
}

body {
  background-color: var(--dark);
}

.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero div {
  margin: 30px;
}

.profile {
  flex: 0;
}

.profile img {
  border: 2px solid var(--shadow);
  box-shadow: 1px 1px 5px var(--shadow);
  border-radius: 5px;
}

.about {
  flex: 50%;
  background-color: var(--accent-rgba-t);
  padding: 20px;
  color: var(--lighter);
  box-shadow: 1px 1px 5px var(--shadow);
  border: 2px solid var(--shadow);
  border-radius: 5px;
}

.about h2 {
  text-align: center;
  text-shadow: 1px 2px 1px var(--shadow);
}

.about p {
  padding-top: 5px;
}

/* MEDIA QUERY FOR TABLETS AND LARGER */
@media screen and (min-width: 574px) {

  /* Make header sticky on tablets and larger */
  header {
    position: sticky;
    top: 0;
  }

  .hero {
    justify-content: space-between;
  }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND LARGER */
@media screen and (min-width: 767px) {
  .about {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

/* MEDIA QUERY FOR FULL SIZE SCREENS AND LARGER */
@media screen and (min-width: 979px) {
  .about {
    flex: .8;
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .hero div {
    margin-left: 10%;
    margin-right: 10%;
  }
}
