:root {
  --darker: #21252b;
  --dark: #282c34;
  --accent: #3e5b93;
  --accent-rgba-t: rgba(62, 91, 147, 0.8);
  --light: #e2c08d;
  --lighter: #d4d6dd;
  --shadow: black;
}

* {
  margin: 0;
}

h1, h2, h3, h4 {
  text-shadow: 2px 2px 1px var(--shadow);
}

header {
  padding: 10px 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--darker);
  box-shadow: 2px 2px 10px var(--shadow);
  align-items: center;
}

header a {
  text-decoration: none;
  color: var(--lighter);
}

header a:hover {
  color: var(--light);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  text-shadow: 2px 2px 1px var(--shadow);
}

/* Styling when hovering over item in navigation menu */
header nav ul li a:hover {
  background: var(--accent);
  color: var(--lighter);
  border-radius: 5px;
  box-shadow: 1px 2px 3px var(--shadow);
}

body {
  background-color: var(--dark);
}

hr {
  background-color: var(--darker);
  border: none;
  height: 3px;
}

/* Hero Styling */

.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero div {
  margin: 30px;
}

.profile {
  flex: 0;
}

.profile img {
  border: 2px solid var(--darker);
  box-shadow: 1px 1px 5px var(--shadow);
  border-radius: 5px;
  margin-bottom: -30px;
}

.about {
  flex: 50%;
  background-color: var(--accent-rgba-t);
  padding: 20px;
  color: var(--lighter);
  box-shadow: 1px 1px 5px var(--shadow);
  border: 2px solid var(--darker);
  border-radius: 5px;
}

.about h2 {
  text-align: center;
}

.about p {
  padding-top: 5px;
}

/* End Hero Styling */

/* Portfolio Styling */

.portfolio {
  display: flex;
  margin: 10px;
  color: var(--lighter);
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.portfolio h2 {
  text-align: center;
  color: var(--light);
  padding: 5px;
  border-radius: 5px;
}

.portfolio hr {
  background-color: var(--light);
  margin-top: 10px;
}

.portfolio-grid {
  background-color: var(--dark);
  display: grid;
  grid-template-columns: 1fr;
  margin: 10px;
  justify-content: center;
}

.grid-item {
  background-color: var(--darker);
  margin: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px var(--shadow);
}

/* End Portfolio Styling */

/* Contact Info Styling */

footer {
  background-color: var(--darker);
  width: 100%;
  color: var(--lighter);
  padding: 10px;
}

.contact h2 {
  text-align: center;
  padding: 5px;
  padding-bottom: 0px;
  border-radius: 5px;
}


.contact-info {
  display: flex;
  flex-wrap: wrap;
  color: var(--lighter);
  background-color: var(--darker);
}

.contact-info h3 {
  padding-bottom: 5px;
  color: var(--light);
}

.contact-info div {
  text-align: center;
  flex: 1;
}

.contact-info div a {
  text-decoration: none;
  color: var(--lighter);
}

.contact-info div a:hover {
  color: var(--light);
}

.phone-info::before {
  content: "📞 ";
}

.email-info::before {
  content: "✉️ ";
}

.github-info::before {
  content: "👨‍💻 ";
}

.linkedin-info::before {
  content: "💼 ";
}

.personal, .social {
  padding: 5px;
}
/* End Contact Info Styling */

/* MEDIA QUERY FOR TABLETS AND LARGER */
@media screen and (min-width: 574px) {

  /* Make header sticky on tablets and larger */
  header {
    position: sticky;
    top: 0;
  }

  .hero {
    justify-content: space-between;
  }

  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND LARGER */
@media screen and (min-width: 767px) {
  .about {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* MEDIA QUERY FOR FULL SIZE SCREENS AND LARGER */
@media screen and (min-width: 979px) {
  .about {
    flex: .8;
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .hero div {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* MEDIA QUERY FOR LARGE SCREENS AND LARGER */
@media screen and (min-width: 1400px) {
  .hero div {
    flex: 2;
  }
}
